<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}



    <div class="page-content">
      <div class="wrapper">

        <ul class="main-menu">
          <li>
            {% if page.url == "/" %}<span class="current-menu-item">WRITING</span>
            {% else %}<a href="/">WRITING</a>
            {% endif %}
          </li>
          <li>
            <a href="math/">MATH</a>
          </li>
          <li>
            <a href="art/">ART</a>
          </li>
          <li>
            {% if page.url == "/other.html" %}<span class="current-menu-item">OTHER</span>
            {% else %}<a href="other.html">OTHER</a>
            {% endif %}
          </li>
        </ul>

        {{ content }}
      </div>
    </div>
    Page url="{{ page.url }}"    
    {% include footer.html %}

  </body>

</html>
